[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "trendsegmentR"]
	path = trendsegmentR
	url = https://github.com/cran/trendsegmentR
	shallow = true
	registered = true
